[Unit]
Description=Dropbear SSH Server Daemon
Wants=dropbear-keygen.service
After=network.target

[Service]
Type=forking
PIDFile=/run/dropbear.pid
EnvironmentFile=-/etc/sysconfig/dropbear
ExecStart=/usr/sbin/dropbear $OPTIONS

[Install]
WantedBy=multi-user.target
